/*!
	@file   drv_gpio_config.h
	@brief  <brief description here>
	@t.odo	-
*/

/******************************************************************************
* Preprocessor Definitions & Macros
******************************************************************************/

// #define DRV_GPIO_TIM

/******************************************************************************
* EOF - NO CODE AFTER THIS LINE
******************************************************************************/
